<div class="bg-img">
  <div class="position-relative top-3 start-45 pb-5">
    <h4 class=" p"><i class="fa-solid fa-briefcase text-primary"></i> PALjob</h4>
  </div>
  <form action="" class="m-auto w-30 pt-5">
    <div class="d-flex justify-content-between">
      <h3 class="text-dark mb-4 m-auto">Forget Password</h3>

    </div>
    <p class="text-center">Go back to <a href="login" class="nav-link text-primary d-inline">Sign In</a></p>
    <p class="text-center">Don't have account ? <a href="register" class="nav-link text-primary d-inline">Create Account</a></p>

  <div class="pt-3">
    <input type="text" class="form-control p-2" placeholder="Email">
  </div>
  <p class="m-auto text-center mb-2 mt-3">or</p>

 <div class="d-flex justify-content-between">
  <div class="w-50 border border-primary">
    <!-- Google Sign-in button -->
    <div id="g_id_onload"
       data-client_id="1041401952762-nesjnl04bfl9g28gf8aclj3impjhsvno.apps.googleusercontent.com"
       data-context="signin"
       data-ux_mode="popup"
       data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
       data-type="standard"
       data-shape="rectangular"
       data-theme="outline"
       data-text="signin_with"
       data-size="large"
       data-logo_alignment="left">
    </div>
  </div>
  <!-- Custom Facebook login button -->
  <button class="btn rounded-0 border-primary ms-2"  (click)="loginWithFacebook()">
    <i class="fab fa-facebook me-2 text-primary"></i> Login with Facebook
  </button>
</div>
  <div class="pt-2">
    <button class="btn btn-primary form-control p-2 mt-3" (click)="navigate()">
     Reset Password <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  </form>
  </div>
