<div class="bg-img">
<div class="position-relative top-13 left-10">
  <h4 class="text-white p"><i class="fa-solid fa-briefcase"></i> PALjob</h4>
</div>
<form action="" class="m-auto w-30 pt-5">
  <div class="d-flex justify-content-between">
    <h3 class="text-dark mb-4">Create Account.</h3>
   <div class="mt-2">
    <select name="job seeker" disabled class="rounded p-2">
      <option value="job seeker">
        Job Seeker
      </option>
      <option value="employer">
        Employer
      </option>
      <option value="admin">
        Admin
      </option>
    </select>
   </div>
  </div>
  <a href="login" class="nav-link text-white mt-3">Already have account?</a>
<div class="pt-3">
  <input type="text" class="form-control p-2" placeholder="username">
</div>
<div class="pt-4">
  <input type="email" class="form-control p-2" placeholder="email">
</div>
<div class="pt-4">
  <input type="password" class="form-control p-2" placeholder="password">
</div>
<div class="pt-4">
  <input type="password" class="form-control p-2" placeholder="confirm password">
</div>
<div class="pt-3">
  <input type="checkbox" name="" id="" value="">
  I'v read and agree with your <span class="text-warning">Terms of Services</span>
</div>
<p class="m-auto text-center mb-2 mt-3">or</p>

<div class="d-flex justify-content-between">
  <div class="w-50">
    <!-- Google sign up button -->
    <div id="g_id_onload"
      data-client_id="1041401952762-nesjnl04bfl9g28gf8aclj3impjhsvno.apps.googleusercontent.com"
      data-context="signup"
      data-ux_mode="popup"
      data-callback="singUp"
      data-nonce=""
      data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signup_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  </div>
  <button class="btn btn-dark" (click)="registerWithFacebook()">
    <i class="fab fa-facebook me-2"></i> Register with Facebook
  </button>
</div>
<div class="pt-2">
  <button type="submit" class="btn btn-dark form-control p-2 mt-3">
   Create Account <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>
</form>
</div>
