.bg-img {
  margin: 0;
  padding: 0;
  background-image: url("/images/bgImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh - 4rem);
  height: auto;
}

.w-40{
  width: 40%;
}
.top-13{
  top: 13%;
}
.top-5{
  top:5%;
}
.left-10{
  left: 10%;
}
@media (min-width: 364px) and (max-width: 644px) {
  .w-80{
    width: 80% !important;
  }
  }
  @media (max-width: 987px) {
    .w-80{
      width: 80% !important;
    }
    }
