.bg-img{
  margin: 0;
  padding: 0;
  background-image: url("/images/bgImage2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%; /* Added this line to move background up */
  width: 100%;
  height: calc(100vh - 4rem);
}
.w-40{
  width: 40%;
}
.w-40{
  width: 40%;
}
.top-3{
  top: 3%;
}
.start-45{
  left: 45%;
}
@media (min-width: 364px) and (max-width: 644px) {
  .w-80{
    width: 80% !important;
  }
  }
@media (max-width: 987px) {
  .w-80{
    width: 80% !important;
  }
  }
