.not-found-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--login-gradient);
}

.error-content {
  padding: 3rem;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
}

.error-title {
  font-size: 8rem;
  font-weight: 700;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  text-shadow: var(--shadow-sm);
}

.error-description {
  font-size: 1.2rem;
  color: var(--text-color);
}

.error-actions {
  margin-top: 2rem;
}

.btn-primary {
  background: var(--primary-gradient);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-sm);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.btn-outline-primary {
  background: var(--filter-btn-gradient);
  border: none;
  color: var(--text-color);
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-sm);
}

.btn-outline-primary:hover {
  background: var(--filter-btn-hover-gradient);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

@media (max-width: 768px) {
  .error-title {
    font-size: 6rem;
  }

  .error-actions .btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .error-actions .btn:last-child {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 992px)  {
  .mt-media {
    margin-top: 10px;
  }
}
