.not-found-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.error-content {
  padding: 3rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.error-title {
  font-size: 8rem;
  font-weight: 700;
  color: #0d6efd;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.error-description {
  font-size: 1.2rem;
  color: #6c757d;
}

.error-actions {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .error-title {
    font-size: 6rem;
  }

  .error-actions .btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .error-actions .btn:last-child {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 992px)  {
 .mt-media{
  margin-top: 10px;
 }
}
