html, body {
  height: 100%;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 0;
  margin-top: 3.5rem;
}

app-footer {
  background-color: #f8f9fa;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}
