* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  position: relative;
  max-width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  padding: 0;
  margin-top: 3.5rem;
  width: 100%;
  background: linear-gradient(135deg, #e6eeff 0%, #ffe6ea 100%);
}

app-footer {
  background-color: #f8f9fa;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}



.app-background {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

